* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* general font and colors*/

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
  background-position: center;
  background-size: cover;
}

#playground {
  width: 1000px;
  height: 1000px;
  margin: 50px auto;
  border: 1px dashed black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#duck {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 10%;
  left: 10%;
  user-select: none;
}
.scores {
  display: flex;
  flex-direction: column;
}
#restart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 50px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.8);
  z-index: 1;
  display: none;
}
.crosshair {
  cursor: crosshair;
}
#restart_button {
  text-transform: uppercase;
  font-weight: 900;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
  margin: 2rem 2rem;
  background-color: brown;
  color: white;
}
#start {
  width: 5rem;
  height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
  margin: 2rem 2rem;
  background-color: brown;
  color: white;
}
#up {
  width: 5rem;
  height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
  margin: 2rem 2rem;
  background-color: brown;
  color: white;
}
#down {
  width: 7rem;
  height: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
  margin: 2rem 2rem;
  background-color: brown;
  color: white;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 32px;
  width: 180px;
  font-weight: 900;
  border: 0.15rem solid black;
  border-radius: 0.25rem;
  margin: 2rem 2rem;
  background-color: brown;
  color: white;
  font-size: medium;
}
.container p span {
  margin: 0 0.2rem;
  font-weight: 700;
  font-family: sans-serif;
}
